        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        html {
            font-size: 100%;
        }
        
        body {
            font-family: "Poppins", serif;
            font-family: "Volkhov", serif;
        }
        
        a {
            text-decoration: none;
            color: #333;
        }
        
        .container {
            max-width: 1474px;
            margin: 0 auto;
            padding-inline: 20px;
        }
        /* .navbar.scrolled {
    background-color: #333;
}

.navbar.scrolled .container {
    max-width: 100%;
} */
        
        .header .navbar {
            display: flex;
            justify-content: space-between;
            position: fixed;
            /* left: 0;
            top: 0; */
            /* background-color: #666; */
            width: 100%;
            padding-block: 30px;
            /* padding-inline: 40px; */
            max-width: 1470px;
        }
        /* .scroll-header {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1000;
            background: #fff;
            transition: display 0.3s ease-in-out;
        }
        
        .scroll-header.show {
            display: block;
        } */
        
        .navbar ul {
            display: flex;
            list-style: none;
            align-items: center;
        }
        
        .navbar ul li {
            display: inline-block;
            padding-inline: 1.5rem;
            transition: all 0.5s ease-in-out
        }
        
        .navbar ul li a {
            text-decoration: none;
            color: aliceblue;
            position: relative;
        }
        
        .navbar ul li:hover a::after {
            position: absolute;
            content: "";
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #DF6951;
            height: 2px;
        }
        
        .navbar ul li:last-of-type a::after {
            width: 0%;
        }
        
        .navbar ul li .btn {
            background-color: #DF6951;
            padding: 10px 15px;
            position: relative;
            z-index: 99;
            border-radius: 50px;
        }
        
        .hero {
            background-image: url('../img/Rectangle\ 19290.png');
            background-position: center;
            background-size: cover;
            height: 100vh;
            position: relative;
            left: 0;
            top: 0;
            width: 100%;
            z-index: -1;
        }
        
        .hero-banner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            height: 100vh;
        }
        
        .hero-banner img {
            width: 150px;
        }
        /* hero */
        
        .hero h1 {
            font-size: 3.8rem;
            color: #ffffff;
            font-weight: 700;
            font-family: "Poppins", serif;
            padding-block: 10px;
        }
        
        .hero-btn {
            background-color: rgba(255, 255, 255, 0.4);
            border-radius: 10px;
            max-width: 700px;
        }
        
        .hero-btn ul {
            display: flex;
            list-style: none;
        }
        
        .hero-btn ul li {
            padding: 15px;
            display: inline-block;
        }
        
        .hero-btn ul li:nth-child(1) {
            border-right: 1px solid #fff;
        }
        
        .hero-btn ul li:nth-child(2) {
            border-right: 1px solid #fff;
        }
        
        .hero-btn ul li a {
            text-decoration: none;
            color: #fff;
        }
        
        .hero-btn ul li .btn {
            background-color: #DF6951;
            padding: 8px 15px;
            position: relative;
            z-index: 99;
            border-radius: 50px;
            opacity: 1;
        }
        
        .user-img {
            display: flex;
        }
        
        .user a img {
            display: inline-block;
            width: 20px;
            position: relative;
            z-index: 9999;
            margin-right: -10px;
        }
        
        .user a {
            padding: 0;
            margin: 0;
            display: inline-block;
        }
        
        .plus {
            display: inline-block;
            width: 22px;
            height: 22px;
            background-color: #DF6951;
            border-radius: 50px;
            text-align: center;
        }
        
        .user {
            margin-top: 20px;
            display: flex;
            align-content: center;
            gap: 10px;
        }
        
        .user-title p {
            color: #FFFFFF;
            font-size: 12.54px;
        }
        /* partners */
        
        .partners {
            padding: 40px 0;
            background-color: #F7F7F7;
        }
        /*  */
        
        .partner-logos {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            flex-wrap: wrap;
        }
        
        .partner-logos img {
            max-width: 150px;
            width: 100%;
            height: auto;
            transition: transform 0.3s ease;
        }
        
        .partner-logos img:hover {
            transform: scale(1.1);
        }
        /* category */
        
        .category {
            padding: 50px 0;
            text-align: center;
            background-color: #f9f9f9;
        }
        
        .category h4 {
            font-size: 1.2rem;
            color: #DF6951;
            margin-bottom: 10px;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 400;
        }
        
        .category h2 {
            font-size: 2rem;
            color: #333;
            margin-bottom: 4.0rem;
            font-family: "Volkhov", serif;
        }
        
        .category .cards {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            flex-wrap: wrap;
        }
        
        .card {
            background-color: #fff;
            border-radius: 20px;
            /* overflow: hidden; */
            width: calc(20% - 20px);
            text-align: center;
            position: relative;
            z-index: 1;
            /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
        }
        
        .card::after {
            width: 50px;
            height: 50px;
            background-color: #DF6951;
            border-radius: 20px;
            position: absolute;
            left: -30px;
            bottom: -30px;
            z-index: 1;
            /* Positioned below the card */
            content: "";
            display: none;
            /* Ensures the pseudo-element is visible */
        }
        
        .card:hover::after {
            /* opacity: 1; */
            display: block;
        }
        
        .card:hover {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        
        .card img {
            width: 100%;
            height: auto;
            max-width: 72px;
        }
        
        .card h3 {
            font-size: 1.4rem;
            margin: 15px;
            color: #1E1D4C;
        }
        
        .card p {
            font-size: 1rem;
            margin: 0 15px 15px;
            color: #666;
        }
        
        .card .btn {
            display: inline-block;
            margin: 15px;
            padding: 10px 20px;
            background-color: #ff7f50;
            /* Accent color */
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            text-align: center;
            transition: background-color 0.3s ease;
        }
        
        .card .btn:hover {
            background-color: #ff5722;
            /* Darker hover color */
        }
        
        .card:hover {
            transform: translateY(-5px);
            /* Lift on hover */
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            /* Stronger shadow */
        }
        /* specials-trip */
        
        .specials-trip {
            display: flex;
            justify-content: space-between;
            gap: 10px;
            align-items: center;
            padding-block: 50px;
        }
        
        .specials-trip .trip-img {
            width: calc(50% - 10px);
            display: flex;
            align-items: center;
        }
        
        .specials-trip .trip-img h4 {
            text-transform: uppercase;
            transform: rotate(270deg);
            margin: 0;
            padding: 0;
        }
        
        .specials-trip .trip-img svg {
            border-top-left-radius: 50px;
            border-top-right-radius: 50px;
            max-width: 320px;
            max-height: 700px;
            width: 100%;
            border-right: 4px solid rgb(114, 139, 250);
        }
        
        .specials-trip .trip-heading {
            width: calc(50% - 10px);
        }
        
        .trip-heading h4 {
            text-transform: uppercase;
            color: #ff7f50;
        }
        
        .trip-heading .btn {
            display: inline-block;
            margin: 15px;
            padding: 10px 20px;
            background-color: #ff7f50;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            text-align: center;
            transition: background-color 0.3s ease;
        }
        /* banner */
        
        .banner {
            background-image: url("../img/banner.png");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            padding-block: 100px;
            max-width: 100%;
            height: 400px;
        }
        
        .banner h2 {
            font-size: 4.0rem;
            font-weight: 600;
            color: #fff;
        }
        /* trending */
        
        .trending .trend-bg {
            text-align: center;
            color: #DF6951;
            text-transform: uppercase;
        }
        
        .trending h2 {
            text-align: center;
        }
        
        .trent-cards {
            display: flex;
            justify-content: space-between;
            gap: 30px;
            margin-top: 25px;
        }
        
        .trend-img img {
            width: 100%;
        }
        
        .price .current-price {
            color: #DF6951;
            padding-right: 20px;
        }
        
        .trent-card .trend-btn .btn {
            display: inline-block;
            margin-top: 15px;
            padding: 10px 20px;
            background-color: #ff7f50;
            /* Accent color */
            color: #fff;
            text-decoration: none;
            border-radius: 50px;
            text-align: center;
            transition: background-color 0.3s ease;
        }
        
        .trent-card .describtion {
            margin-top: 10px;
        }
        
        .trend-img {
            position: relative;
        }
        
        .trent-icon {
            position: absolute;
            left: 20px;
            bottom: -70px;
        }
        
        .trend-date {
            margin-top: 40px;
        }
        
        .place-review {
            display: flex;
            justify-content: space-between;
            padding-top: 20px;
        }
        
        .trend-user {
            margin-left: 15px;
            display: inline-block;
        }
        
        .review-start a i {
            color: #FFBA0A;
        }
        
        .old-price {
            text-decoration: line-through;
        }
        /* testmonial */
        
        .testmonial {
            background-image: url("../img/h1-background-img-1\ 1.png");
            background-position: center;
            background-size: cover;
            height: 100%;
            margin-top: 30px;
            padding-block: 124px;
        }
        
        .testmonial h4 {
            text-align: center;
            color: #DF6951;
            padding-top: 20px;
        }
        
        .testmonial h2 {
            text-align: center;
            margin-bottom: 40px;
        }
        
        section.trending {
            padding-block: 50px;
        }
        
        .client-feetback {
            max-width: 500px;
            margin: auto;
            background-color: #FFFFFF;
            border-radius: 15px;
        }
        
        .client-say {
            text-align: center;
            padding-inline: 20px;
        }
        
        .client-say img {
            margin: auto;
        }
        
        .footer-row {
            display: flex;
            justify-content: space-between;
        }
        
        .social-icons {
            display: flex;
        }
        
        footer.footer {
            padding-block: 50px;
        }
        
        a.email-box input {
            padding-inline: 5px;
        }
        
        .footer-column {
            flex: 1;
        }
        
        .footer-column input {
            outline: none;
            border: none;
            /* width: 100%; */
            background-color: transparent;
        }
        
        .footer-column .email-box {
            background-color: #EEEEFF;
            display: inline-block;
            border-bottom-right-radius: 50px;
            border-top-right-radius: 50px;
        }
        
        .footer-column .btn {
            display: inline-block;
            /* margin-top: 15px; */
            padding: 10px 20px;
            background-color: #ff7f50;
            /* Accent color */
            color: #fff;
            text-decoration: none;
            border-radius: 50px;
            border: none;
            text-align: center;
            transition: background-color 0.3s ease;
        }
        
        .footer-column ul {
            list-style: none;
        }
        
        .social-icons li a i {
            padding: 10px;
        }
        
        @media (max-width: 991px) {
            .card {
                width: calc(50% - 20px);
                /* 2 cards per row */
            }
        }
        
        @media (max-width: 768px) {
            html {
                font-size: 50%;
            }
            .card .small-circle {
                display: none;
            }
            .partner-logos {
                width: 100%;
                flex-direction: column;
            }
            .navbar ul {
                display: none;
            }
            .trent-cards {
                flex-direction: column;
                gap: 15px;
            }
            .footer-row {
                flex-direction: column;
                gap: 15px;
                text-align: center;
            }
            .footer-column ul {
                justify-content: center;
                width: 100%;
            }
            .specials-trip {
                flex-direction: column;
                gap: 15px;
            }
            .specials-trip .trip-img {
                display: block;
                width: 100%;
            }
            .specials-trip .trip-img h4 {
                text-transform: uppercase;
                transform: rotate(0deg);
                margin: 0;
                padding: 0;
                text-align: center;
                margin-bottom: 20px;
            }
            .specials-trip .trip-img img {
                width: 100%;
            }
            .footer-column .email-box {
                margin-block: 20px;
            }
        }
        
        @media (max-width: 575px) {
            html {
                font-size: 45%;
            }
            .card {
                width: 100%;
                /* 1 card per row */
            }
        }